In [29]:
import sys
import os
from importlib import reload
fpath = os.path.join('..//scripts')
sys.path.append(fpath)

import warnings
warnings.filterwarnings('ignore')

#loading internal scripts
import frauddetection as fd
import sourcedata as sd
reload(fd)
reload(sd)

print('done')

done

In [30]:
import pandas as pd

#For Kaggle
#date=''

#For WL data
date='20241118'
source='WL'

saveImg=False

print('done')

dfTrxSaved = pd.read_csv('../data/cleaned/'+source+'export'+date+'.csv')
dfTrxSaved.head(5)

done

,db_uuid,trx_date_time,term_mcc,term_country,mcd_fraud_score,vaa_score,card_pan_id,Class,ecom,card_brand_MCD,...,clusterCardHolder_cluster2,clusterCardHolder_cluster3,clusterCardHolder_cluster4,clusterMerchant_M0,clusterMerchant_M1,clusterMerchant_M2,clusterMerchant_M3,clusterMerchant_UNKNOWN,trx_amount_log10,previous_trx
0,31BD8D38A53C11EFABA49D2778D26ADA,2024-11-18 00:29:22,5499,NLD,214.000000,26.258093,450280D96024C965163D7F15687156B138E1BDCB6DC512...,0,1,1,...,0,0,0,1,0,0,0,0,1.690107,0
1,A3E698CEA53B11EFABA49D2778D26ADA,2024-11-18 00:27:12,5499,NLD,225.222235,32.000000,68B7CAD29BF263AD2CE80B155DD3D3EE783884F72F7070...,0,1,0,...,0,0,0,1,0,0,0,0,1.799272,0
2,C5D7AAE6A53A11EFAAA0DF784AB5695E,2024-11-18 00:20:15,7011,BEL,152.000000,26.258093,02587C2F031D3D22C997A9A4E6CB78D6A87A2C73E61131...,0,1,1,...,0,0,0,0,0,0,1,0,1.374015,0
3,9C87AE3EA53F11EFABA49D2778D26ADA,2024-11-18 00:53:48,5542,BEL,225.222235,26.258093,CD32793A75DE03806C854CB3B6C2DF5BB2809C2DA66BA9...,0,1,0,...,0,0,1,0,0,0,1,0,1.205204,0
4,9C87B0B4A53F11EFABA49D2778D26ADA,2024-11-18 00:53:48,5542,BEL,225.222235,26.258093,CD32793A75DE03806C854CB3B6C2DF5BB2809C2DA66BA9...,0,1,0,...,0,0,1,0,0,0,1,0,1.205204,0

In [31]:
sorted_df = dfTrxSaved.sort_values(by=['card_pan_id','trx_date_time'])
sorted_df=sorted_df.drop(columns=['mcd_fraud_score','vaa_score',
                                 'trx_amount_log10','ecom',	'card_brand_MCD',	'card_brand_VIS','country_group_BELGIUM','country_group_EUROPE',
                                 'clusterCardHolder_cluster0',	'clusterCardHolder_cluster1',	'clusterCardHolder_cluster2',	'clusterCardHolder_cluster3',	
                                 'clusterCardHolder_cluster4',	'clusterMerchant_M0',	'clusterMerchant_M1','clusterMerchant_M2','clusterMerchant_M3',
                                 'clusterMerchant_UNKNOWN',
                                  'country_group_WORLD','mcc_group_CLOTHING_STORES',	
                                  'mcc_group_GOUVERNEMENT_SERVICES','mcc_group_OTHER','mcc_group_PROFESSIONAL_SERVICES',	
                                  'mcc_group_RETAIL_OUTLET_SERVICES','mcc_group_UTILITY_SERVICES','mcc_group_ATM',	
                                  'trx_reversal_FULL_REVERSAL',	'trx_reversal_NO_RESERSAL',	
                                  'trx_reversal_PARTIAL_REVERSAL','clusterCardHolder_UNKNOWN'
                                 ])
#print(sorted_df.head(10))
#print(sorted_df.shift(-1).head(10))
sorted_df['term_mcc'] = sorted_df['term_mcc'].astype('str')

sorted_df['card_pan_id1'] = sorted_df['card_pan_id'].shift(-1)
#sorted_df['term_mcc1']= sorted_df['term_mcc'].shift(-1) if sorted_df['card_pan_id1'] == sorted_df['card_pan_id'] else 'XXXX'
sorted_df['term_mcc1'] = sorted_df['term_mcc'].shift(-1)
sorted_df['term_country1'] = sorted_df['term_country'].shift(-1)
sorted_df['db_uuid1'] = sorted_df['db_uuid'].shift(-1)
sorted_df.head(10)

,db_uuid,trx_date_time,term_mcc,term_country,card_pan_id,Class,previous_trx,card_pan_id1,term_mcc1,term_country1,db_uuid1
1031803,E7BBC7E2A5F711EFAB5467F548324747,2024-11-18 22:54:06,3246,BEL,00001337BCE627FC2DA11C1BCAD4B7B84AFA8867719490...,0,1,00002D6FD003C6C0489C65EB562C3CC6DB18B6747E0C6F...,5541,BEL,ADA8D722A58711EFAFBB9B803EBB0482
245608,ADA8D722A58711EFAFBB9B803EBB0482,2024-11-18 09:29:58,5541,BEL,00002D6FD003C6C0489C65EB562C3CC6DB18B6747E0C6F...,0,0,000036F25E9834B930637AAC3CE596788E2331593B89B1...,4722,NLD,FC3AD778A54611EF8AAC4B6DC458738E
21758,FC3AD778A54611EF8AAC4B6DC458738E,2024-11-18 01:47:18,4722,NLD,000036F25E9834B930637AAC3CE596788E2331593B89B1...,0,0,000047AC17162B1109B8DBE692CBF86553F919C51B0490...,5734,IRL,41C03A56A5C711EF91DDB93D8DDCD32C
782744,41C03A56A5C711EF91DDB93D8DDCD32C,2024-11-18 17:06:58,5734,IRL,000047AC17162B1109B8DBE692CBF86553F919C51B0490...,0,1,0000576F02CA383D8A88D4D54F5630B3295C124AD184F7...,5651,DEU,98164578A59811EFA9D7A34AC8B56D03
369237,98164578A59811EFA9D7A34AC8B56D03,2024-11-18 11:32:16,5651,DEU,0000576F02CA383D8A88D4D54F5630B3295C124AD184F7...,0,0,00011B3DFC4CCCB4037D136F454FA931FECD44F94F0731...,7299,BEL,E1062C12A5C511EFBF936F1F31DDF40E
693917,E1062C12A5C511EFBF936F1F31DDF40E,2024-11-18 16:55:36,7299,BEL,00011B3DFC4CCCB4037D136F454FA931FECD44F94F0731...,0,0,00011B3DFC4CCCB4037D136F454FA931FECD44F94F0731...,742,BEL,CAE5AD8CA5CE11EF91DDB93D8DDCD32C
796595,CAE5AD8CA5CE11EF91DDB93D8DDCD32C,2024-11-18 17:59:43,742,BEL,00011B3DFC4CCCB4037D136F454FA931FECD44F94F0731...,0,0,000131ADBBA9341F109E2D48DD34C9B8287DEE46B64E05...,5541,BEL,6A72A71AA57F11EFAF7CED82DE1819CF
206500,6A72A71AA57F11EFAF7CED82DE1819CF,2024-11-18 08:31:33,5541,BEL,000131ADBBA9341F109E2D48DD34C9B8287DEE46B64E05...,0,1,00018A8AC283300E9CB34529729D53369751EE87333673...,5818,IRL,EAA0B5D0A5CF11EF820647ACB1D89E7D
812257,EAA0B5D0A5CF11EF820647ACB1D89E7D,2024-11-18 18:08:48,5818,IRL,00018A8AC283300E9CB34529729D53369751EE87333673...,0,0,0001C593D7F0FC7B77A646865932C65B40291A713A95AB...,5812,NLD,7C7F4ED4A5E011EFA3D033B781FE3930
924761,7C7F4ED4A5E011EFA3D033B781FE3930,2024-11-18 20:05:35,5812,NLD,0001C593D7F0FC7B77A646865932C65B40291A713A95AB...,0,0,0001C73FB8B6ED7A75D6C63773D7380A0EDA6FD4C8FB45...,5411,BEL,CFF0F6F2A5BE11EF820647ACB1D89E7D

In [32]:
sorted_df1=sorted_df[(sorted_df['card_pan_id']==sorted_df['card_pan_id1'])]
sorted_df0=sorted_df[(sorted_df['card_pan_id']!=sorted_df['card_pan_id1'])]

print(sorted_df.shape)
print(sorted_df0.shape)
print(sorted_df1.shape)

print(sorted_df.Class.value_counts(normalize=True))
print(sorted_df0.Class.value_counts(normalize=True))
print(sorted_df1.Class.value_counts(normalize=True))


#sorted_df4.head(50)

(1059849, 11)
(611706, 11)
(448143, 11)
Class
0    0.998828
1    0.001172
Name: proportion, dtype: float64
Class
0    0.999253
1    0.000747
Name: proportion, dtype: float64
Class
0    0.998248
1    0.001752
Name: proportion, dtype: float64

In [33]:
import numpy as np

dfTrxSaved['previous_trx']=0

sorted_dfTemp=sorted_df[(sorted_df['card_pan_id']==sorted_df['card_pan_id1'])]
dfTrxSaved['previous_trx']=np.where(sorted_df.index.isin(sorted_dfTemp.index),1,dfTrxSaved['previous_trx'])
#dfTrxSaved['term_mcc1']=np.where(sorted_df.index.isin(sorted_dfTemp.index),dfTrxSaved['term_mcc1'],'')
#dfTrxSaved['term_country1']=np.where(sorted_df.index.isin(sorted_dfTemp.index),dfTrxSaved['term_country1'],'')

dfTrxSaved['card_pan_id1']=sorted_df['card_pan_id1']
dfTrxSaved['term_mcc1']=sorted_df['term_mcc1']
dfTrxSaved['term_country1']=sorted_df['term_country1']
dfTrxSaved['db_uuid1']=sorted_df['db_uuid1']

dfTrxSaved['previous_trx'].value_counts()

previous_trx
0    611706
1    448143
Name: count, dtype: int64

In [34]:
print(f'IV previous_trx  {fd.calc_iv(dfTrxSaved,'previous_trx','Class',pr=0)}')

IV previous_trx  3.916002407039938e-05

In [35]:


temp=dfTrxSaved[(dfTrxSaved['Class']==1)]

temp[['previous_trx','card_pan_id1','card_pan_id','term_country','term_country1', 'Class']].head(5)

,previous_trx,card_pan_id1,card_pan_id,term_country,term_country1,Class
442,1,3A382A56E863FFF19147582C564444C599F1C7F65CE10C...,3A382A56E863FFF19147582C564444C599F1C7F65CE10C...,USA,USA,1
443,1,3A382A56E863FFF19147582C564444C599F1C7F65CE10C...,3A382A56E863FFF19147582C564444C599F1C7F65CE10C...,USA,USA,1
444,1,3A382A56E863FFF19147582C564444C599F1C7F65CE10C...,3A382A56E863FFF19147582C564444C599F1C7F65CE10C...,USA,USA,1
445,1,3A382A56E863FFF19147582C564444C599F1C7F65CE10C...,3A382A56E863FFF19147582C564444C599F1C7F65CE10C...,USA,USA,1
446,1,3A382A56E863FFF19147582C564444C599F1C7F65CE10C...,3A382A56E863FFF19147582C564444C599F1C7F65CE10C...,USA,USA,1

In [36]:
for i in range(0,3,1):
    print(i)
    print(dfTrxSaved[(dfTrxSaved['previous_trx']==i)].shape[0])
    print(dfTrxSaved['Class'][(dfTrxSaved['previous_trx']==i)].value_counts(normalize=True))

0
611706
Class
0    0.998834
1    0.001166
Name: proportion, dtype: float64
1
448143
Class
0    0.99882
1    0.00118
Name: proportion, dtype: float64
2
0
Series([], Name: proportion, dtype: float64)

In [37]:
dfTrxSaved.head()

,db_uuid,trx_date_time,term_mcc,term_country,mcd_fraud_score,vaa_score,card_pan_id,Class,ecom,card_brand_MCD,...,clusterMerchant_M1,clusterMerchant_M2,clusterMerchant_M3,clusterMerchant_UNKNOWN,trx_amount_log10,previous_trx,card_pan_id1,term_mcc1,term_country1,db_uuid1
0,31BD8D38A53C11EFABA49D2778D26ADA,2024-11-18 00:29:22,5499,NLD,214.000000,26.258093,450280D96024C965163D7F15687156B138E1BDCB6DC512...,0,1,1,...,0,0,0,0,1.690107,0,4502828B081636EAB49B9081306E267144ED09C682001A...,5651,BEL,B5ECF850A5AA11EF9FDF3BEE1A76F849
1,A3E698CEA53B11EFABA49D2778D26ADA,2024-11-18 00:27:12,5499,NLD,225.222235,32.000000,68B7CAD29BF263AD2CE80B155DD3D3EE783884F72F7070...,0,1,0,...,0,0,0,0,1.799272,0,68B7D1C36626CA0FDBD5FC7F3982A98A03ED102DA8FB03...,7311,BEL,A4778370A54011EFABA49D2778D26ADA
2,C5D7AAE6A53A11EFAAA0DF784AB5695E,2024-11-18 00:20:15,7011,BEL,152.000000,26.258093,02587C2F031D3D22C997A9A4E6CB78D6A87A2C73E61131...,0,1,1,...,0,0,1,0,1.374015,0,02587C2F031D3D22C997A9A4E6CB78D6A87A2C73E61131...,7011,BEL,767F5742A58911EF965FD7072A1C9065
3,9C87AE3EA53F11EFABA49D2778D26ADA,2024-11-18 00:53:48,5542,BEL,225.222235,26.258093,CD32793A75DE03806C854CB3B6C2DF5BB2809C2DA66BA9...,0,1,0,...,0,0,1,0,1.205204,0,CD32793A75DE03806C854CB3B6C2DF5BB2809C2DA66BA9...,5542,BEL,9C87B0B4A53F11EFABA49D2778D26ADA
4,9C87B0B4A53F11EFABA49D2778D26ADA,2024-11-18 00:53:48,5542,BEL,225.222235,26.258093,CD32793A75DE03806C854CB3B6C2DF5BB2809C2DA66BA9...,0,1,0,...,0,0,1,0,1.205204,0,CD32C9DC281205518197B1ED93C1075FED0365D0997D7B...,5815,SWE,0B95A1AEA5C311EFB6E82F72B18336C0